  @keyframes rotateTheTruck {
    0% {
      transform: rotate(0);
    }
  
    45% {
      transform: rotate(-90deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  .envio i.fas.fa-truck {
    transition: transform 0.3s ease; /* Agregamos una transición suave */
  }
  
  .envio i.fas.fa-truck:hover {
    animation: rotateTheTruck 1s linear infinite; /* Aplicamos la animación al pasar el cursor */
  }
  .me {
    color: inherit;
    text-decoration: none;
}

.me {
    background:
        linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.me {
    color: inherit;
    text-decoration: none;
}

.me {
    background:
        linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.me:hover {
    background-size: 0 3px, 100% 3px;
}

.product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-duration: 0.5s;
}

.product:hover .product-name{
    display: block;
}

.product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-duration: 0.5s;
}

.product:hover .product-name{
    display: block;
}

.descripciones {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .info:hover .descripciones {
    opacity: 1;
  }