body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    font-weight: 300;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #eac926;
    max-width: 100%;
    max-height: 100%;
}
header {
    padding: 0.5em 1.5em 0.8em 1.5em;
}
.titulares {
    font-size: 24px;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.precios {
    font-size: 18px;
    font-weight: bold; 
}

.descuentos {
    font-size: 16px;

}

.descripciones {
    font-size: 16px;
}

ul {
    text-align: left;
}
footer {
    background-color:white
}


main {

    margin: auto;
    margin-top: 10px;
    width: 90vw;
    background-color: #ebebeb;
    display: block;
    text-align: center;

  }
.productos 
    {
        display: flex;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }



.product {
    margin-bottom: 10px;
    width: 45%;
    cursor: pointer;
  }
  .info {
    border-top: 1px solid #ebebeb;
    background-color:white;
    text-align: left;
    padding: 15px;
    position: relative;
  }
        
        
         .envio {
            display: block;
            font-size: 16px;
            padding: 5px;
            width: 30px;
            height: 30px;
            border: 1px solid #39b54a;
            background-color: #FFF;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: -15px;
            
        }
        
            .fa, .fas {
                font-weight: 900;
            }   
    
            *{
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                }

.ofertas {
    color: rgb(129, 192, 36);
} 
img {
    max-width: 100%;
    max-height: 100%;
}
.baner {
    width: auto;
}
.logo-buscador {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
        justify-content:space-around;
}

.logito {
    max-width: 15%;
    cursor: pointer;
     width: 100%;
    
}
.ocultar {
    display: flex;
    justify-content: space-between;
}

.primero {
display: flex;
justify-content: flex-start;
justify-content: space-between;
gap: 1.5em;
}
.segundo {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    gap: 1.5em;
    
    }
    
    @media (min-width: 361px){
        .productos {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
        }
        }
        @media (max-width: 361px){
            .product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                width: 100%;
            }
            }

     @media (min-width: 361px){
         .logo-buscador {
            gap: 0;
        }
        }
    @media (min-width: 361px){
            .ocultar {
                display: none;
            }
        }
            @media (max-width: 361px){
                .ocultar {
                    display: none;
                }
                }
        @media (min-width: 480px) {
            .logo-buscador {
                gap: 0;
            } 
            }
        
            @media (min-width: 480px){
        .ocultar {
            display: none;
        }
            }
            @media (max-width: 460px){
        .logito {
            width: 50%;
            height: 60px;
            max-width:none;
        }
            }
            @media (max-width: 480px){
                .footer-descripcion {
                    display: flex;
                    flex-direction:column;
                }
            }   

@media (min-width: 769px){
.logo-buscador {
    justify-content: space-between;
}
}

@media (min-width: 769px){
.logito {
    max-width: 15%;
}
}

@media (min-width: 769px){
.product {
     max-width: 23%;
}
}
@media (min-width: 769px) {
    .footer-descripcion {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 769px){
.ocultar {
    display: flex;
    justify-content: space-between;
}
}
@media (min-width: 769px){
.burger-menu {
    display: none;
}
}


         .burger-menu-container {
            display: flex;
            justify-content: center;
        }
        .burger-menu {
            background-color: #1259c3;
            width: 45px;
            border-radius: 5px;
            padding: 8px;
            margin: 0 auto;
            text-align: center;
            font-size: 24px;
        }
        footer {
            margin-top: 40px;
            background-color: white;
            padding: 30px;
        }
        .footer-descripcion {
            display: flex;
            justify-content: space-between;
            
        }
        .item-footer {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .footer-descripcion {
            margin-bottom: 1.1em;
        }
        .Copyright{
            display: flex;
            justify-content: flex-start;
            font-size: 14px
        }
        .creador {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            background-color: #f0f0f0;
            padding: 10px;
            border-top: 1px solid #ccc;
            width: 100%;
        }